<body class="red-skin">

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="preloader">
        <div class="preloader"><span></span><span></span></div>
    </div>


    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Start Navigation -->

        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->


        <!-- ============================ Instructor header Start================================== -->
        <div class="image-cover ed_detail_head invers" style="background:#0b1c38;" data-overlay="0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="viewer_detail_wraps">
                            <div class="viewer_detail_thumb">
                                <img src="assets/front/img/user-3.jpg" class="img-fluid" alt="">
                                <div class="viewer_status">pro</div>
                            </div>
                            <div class="caption">
                                <div class="viewer_package_status">6 Year Expe.</div>
                                <div class="viewer_header">
                                    <h4>Adam Willsoriam</h4>
                                    <span class="viewer_location">Web Designer, Canada</span>
                                    <ul>
                                        <li><strong>112</strong> Points</li>
                                        <li><strong>87</strong> Videos</li>
                                        <li><strong>120</strong> Lectures</li>
                                    </ul>
                                </div>
                                <div class="viewer_header">
                                    <ul class="badge_info">
                                        <li class="started"><i class="ti-rocket"></i></li>
                                        <li class="medium"><i class="ti-cup"></i></li>
                                        <li class="platinum"><i class="ti-thumb-up"></i></li>
                                        <li class="elite unlock"><i class="ti-medall"></i></li>
                                        <li class="power unlock"><i class="ti-crown"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ============================ Instructor header End ================================== -->

        <!-- ============================ Instructor Detail ================================== -->
        <section>
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="custom-tab customize-tab tabs_creative">
                            <ul class="nav nav-tabs pb-2 b-0" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Classes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Education</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Reviews</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">

                                <!-- Classess -->
                                <div class="tab-pane fade show active p-2" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">

                                        <!-- Single Video -->
                                        <div class="col-lg-4 col-md-6">
                                            <div class="edu-watching">
                                                <div class="property_video sm">
                                                    <div class="thumb">
                                                        <img class="pro_img img-fluid w100" src="assets/front/img/course-1.jpg" alt="7.jpg">
                                                        <div class="overlay_icon">
                                                            <div class="bb-video-box">
                                                                <div class="bb-video-box-inner">
                                                                    <div class="bb-video-box-innerup">
                                                                        <a href="../../watch.html?v=A8EI6JaFbv4" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="edu_duration">25:10</div>
                                                </div>
                                                <div class="edu_video detail">
                                                    <div class="edu_video_header">
                                                        <h4><a href="#">Start Learning Web Designing New Tools Start with Begining</a></h4>
                                                    </div>
                                                    <div class="edu_video_bottom">
                                                        <div class="edu_video_bottom_left">
                                                            <span>Lession 07 of 12</span>
                                                        </div>
                                                        <div class="edu_video_bottom_right">
                                                            <i class="ti-desktop"></i>Designing
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Video -->
                                        <div class="col-lg-4 col-md-6">
                                            <div class="edu-watching">
                                                <div class="property_video sm">
                                                    <div class="thumb">
                                                        <img class="pro_img img-fluid w100" src="assets/front/img/course-2.jpg" alt="7.jpg">
                                                        <div class="overlay_icon">
                                                            <div class="bb-video-box">
                                                                <div class="bb-video-box-inner">
                                                                    <div class="bb-video-box-innerup">
                                                                        <a href="../../watch.html?v=A8EI6JaFbv4" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="edu_duration">40:25</div>
                                                </div>
                                                <div class="edu_video detail">
                                                    <div class="edu_video_header">
                                                        <h4><a href="#">The Complete Business Plan Course (Includes 50 Templates)</a></h4>
                                                    </div>
                                                    <div class="edu_video_bottom">
                                                        <div class="edu_video_bottom_left">
                                                            <span>Lession 08 of 10</span>
                                                        </div>
                                                        <div class="edu_video_bottom_right">
                                                            <i class="ti-desktop"></i>Designing
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Video -->
                                        <div class="col-lg-4 col-md-6">
                                            <div class="edu-watching">
                                                <div class="property_video sm">
                                                    <div class="thumb">
                                                        <img class="pro_img img-fluid w100" src="assets/front/img/course-3.jpg" alt="7.jpg">
                                                        <div class="overlay_icon">
                                                            <div class="bb-video-box">
                                                                <div class="bb-video-box-inner">
                                                                    <div class="bb-video-box-innerup">
                                                                        <a href="../../watch.html?v=A8EI6JaFbv4" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="edu_duration">12:10</div>
                                                </div>
                                                <div class="edu_video detail">
                                                    <div class="edu_video_header">
                                                        <h4><a href="#">An Entire MBA In 1 Course:Award Winning Business School Prof</a></h4>
                                                    </div>
                                                    <div class="edu_video_bottom">
                                                        <div class="edu_video_bottom_left">
                                                            <span>Lession 07 of 15</span>
                                                        </div>
                                                        <div class="edu_video_bottom_right">
                                                            <i class="ti-desktop"></i>Designing
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Video -->
                                        <div class="col-lg-4 col-md-6">
                                            <div class="edu-watching">
                                                <div class="property_video sm">
                                                    <div class="thumb">
                                                        <img class="pro_img img-fluid w100" src="assets/front/img/course-4.jpg" alt="7.jpg">
                                                        <div class="overlay_icon">
                                                            <div class="bb-video-box">
                                                                <div class="bb-video-box-inner">
                                                                    <div class="bb-video-box-innerup">
                                                                        <a href="../../watch.html?v=A8EI6JaFbv4" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="edu_duration">20:10</div>
                                                </div>
                                                <div class="edu_video detail">
                                                    <div class="edu_video_header">
                                                        <h4><a href="#">The Complete Financial Analyst Course 2020</a></h4>
                                                    </div>
                                                    <div class="edu_video_bottom">
                                                        <div class="edu_video_bottom_left">
                                                            <span>Lession 05 of 10</span>
                                                        </div>
                                                        <div class="edu_video_bottom_right">
                                                            <i class="ti-desktop"></i>Designing
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Video -->
                                        <div class="col-lg-4 col-md-6">
                                            <div class="edu-watching">
                                                <div class="property_video sm">
                                                    <div class="thumb">
                                                        <img class="pro_img img-fluid w100" src="assets/front/img/course-5.jpg" alt="7.jpg">
                                                        <div class="overlay_icon">
                                                            <div class="bb-video-box">
                                                                <div class="bb-video-box-inner">
                                                                    <div class="bb-video-box-innerup">
                                                                        <a href="../../watch.html?v=A8EI6JaFbv4" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="edu_duration">40:20</div>
                                                </div>
                                                <div class="edu_video detail">
                                                    <div class="edu_video_header">
                                                        <h4><a href="#">PMP Exam Prep Seminar - PMBOK Guide 6</a></h4>
                                                    </div>
                                                    <div class="edu_video_bottom">
                                                        <div class="edu_video_bottom_left">
                                                            <span>Lession 07 of 15</span>
                                                        </div>
                                                        <div class="edu_video_bottom_right">
                                                            <i class="ti-desktop"></i>Designing
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Video -->
                                        <div class="col-lg-4 col-md-6">
                                            <div class="edu-watching">
                                                <div class="property_video sm">
                                                    <div class="thumb">
                                                        <img class="pro_img img-fluid w100" src="assets/front/img/course-6.jpg" alt="7.jpg">
                                                        <div class="overlay_icon">
                                                            <div class="bb-video-box">
                                                                <div class="bb-video-box-inner">
                                                                    <div class="bb-video-box-innerup">
                                                                        <a href="../../watch.html?v=A8EI6JaFbv4" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="edu_duration">20:30</div>
                                                </div>
                                                <div class="edu_video detail">
                                                    <div class="edu_video_header">
                                                        <h4><a href="#">Tableau 2020 A-Z:Hands-On Tableau Training For Data Science!</a></h4>
                                                    </div>
                                                    <div class="edu_video_bottom">
                                                        <div class="edu_video_bottom_left">
                                                            <span>Lession 05 of 12</span>
                                                        </div>
                                                        <div class="edu_video_bottom_right">
                                                            <i class="ti-desktop"></i>Designing
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Education -->
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="details_single p-2">
                                        <h2>Education</h2>
                                        <ul class="skills_info">
                                            <li>
                                                <div class="skills_captions">
                                                    <h4 class="Skill_title">Master in Fine Art</h4>
                                                    <span>2017 - 2019</span>
                                                    <span>Meeruth University</span>
                                                    <p class="skills_dec">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="skills_captions">
                                                    <h4 class="Skill_title">Tombia Collage</h4>
                                                    <span>2015 - 2017</span>
                                                    <span>Wikked Collage</span>
                                                    <p class="skills_dec">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="skills_captions">
                                                    <h4 class="Skill_title">Diploma in Fine Art</h4>
                                                    <span>20012 - 2015</span>
                                                    <span>Meeruth University</span>
                                                    <p class="skills_dec">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Reviews -->
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <div class="reviews-comments-wrap">
                                        <!-- reviews-comments-item -->
                                        <div class="reviews-comments-item">
                                            <div class="review-comments-avatar">
                                                <img src="assets/front/img/user-1.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="reviews-comments-item-text">
                                                <h4><a href="#">Josaph Manrty</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>27 Oct 2019</span></h4>

                                                <div class="listing-rating high" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><span class="review-count">4.9</span> </div>
                                                <div class="clearfix"></div>
                                                <p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
                                                <div class="pull-left reviews-reaction">
                                                    <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
                                                    <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
                                                    <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--reviews-comments-item end-->

                                        <!-- reviews-comments-item -->
                                        <div class="reviews-comments-item">
                                            <div class="review-comments-avatar">
                                                <img src="assets/front/img/user-2.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="reviews-comments-item-text">
                                                <h4><a href="#">Rita Chawla</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>2 Nov May 2019</span></h4>

                                                <div class="listing-rating mid" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star"></i><span class="review-count">3.7</span> </div>
                                                <div class="clearfix"></div>
                                                <p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
                                                <div class="pull-left reviews-reaction">
                                                    <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
                                                    <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
                                                    <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--reviews-comments-item end-->

                                        <!-- reviews-comments-item -->
                                        <div class="reviews-comments-item">
                                            <div class="review-comments-avatar">
                                                <img src="assets/front/img/user-3.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="reviews-comments-item-text">
                                                <h4><a href="#">Adam Wilsom</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>10 Nov 2019</span></h4>

                                                <div class="listing-rating good" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star"></i> <span class="review-count">4.2</span> </div>
                                                <div class="clearfix"></div>
                                                <p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
                                                <div class="pull-left reviews-reaction">
                                                    <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
                                                    <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
                                                    <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--reviews-comments-item end-->

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ============================ Instructor Detail ================================== -->

        <!-- ============================== Start Newsletter ================================== -->
        <section class="newsletter theme-bg inverse-theme">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-8 col-sm-12">
                        <div class="text-center">
                            <h2>Join Thousand of Happy Students!</h2>
                            <p>Subscribe our newsletter & get latest news and updation!</p>
                            <form class="sup-form">
                                <input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
                                <input type="submit" class="btn btn-theme" value="Get Started">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ================================= End Newsletter =============================== -->

        <!-- ============================ Footer Start ================================== -->
        <app-footers></app-footers>
        <!-- ============================ Footer End ================================== -->

        <!-- Log In Modal -->
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <div class="modal-content" id="registermodal">
                    <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                    <div class="modal-body">
                        <h4 class="modal-header-title">Log In</h4>
                        <div class="login-form">
                            <form>

                                <div class="form-group">
                                    <label>User Name</label>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>

                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="*******">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-md full-width pop-login">Login</button>
                                </div>

                            </form>
                        </div>

                        <div class="social-login mb-3">
                            <ul>
                                <li>
                                    <input id="reg" class="checkbox-custom" name="reg" type="checkbox">
                                    <label for="reg" class="checkbox-custom-label">Save Password</label>
                                </li>
                                <li class="right"><a href="#" class="theme-cl">Forget Password?</a></li>
                            </ul>
                        </div>

                        <div class="modal-divider"><span>Or login via</span></div>
                        <div class="social-login ntr mb-3">
                            <ul>
                                <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
                                <li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
                            </ul>
                        </div>

                        <div class="text-center">
                            <p class="mt-2">Haven't Any Account? <a href="register.html" class="link">Click here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <!-- Sign Up Modal -->
        <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <div class="modal-content" id="sign-up">
                    <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                    <div class="modal-body">
                        <h4 class="modal-header-title">Sign Up</h4>
                        <div class="login-form">
                            <form>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Full Name">
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="*******">
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-md full-width pop-login">Sign Up</button>
                                </div>

                            </form>
                        </div>

                        <div class="modal-divider"><span>Or Signup via</span></div>
                        <div class="social-login ntr mb-3">
                            <ul>
                                <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
                                <li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
                            </ul>
                        </div>

                        <div class="text-center">
                            <p class="mt-3"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <!-- Video Modal -->
        <div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="popup-video" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <iframe class="embed-responsive-item" width="100%" height="480" src="../../embed/qN3OueBm9F4.html?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            </div>
        </div>
        <!-- End Video Modal -->

        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/front/js/jquery.min.js"></script>
    <script src="assets/front/js/popper.min.js"></script>
    <script src="assets/front/js/bootstrap.min.js"></script>
    <script src="assets/front/js/select2.min.js"></script>
    <script src="assets/front/js/slick.js"></script>
    <script src="assets/front/js/jquery.counterup.min.js"></script>
    <script src="assets/front/js/counterup.min.js"></script>
    <script src="assets/front/js/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->

</body>