<body class="log-bg">

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
   


    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ========================== SignUp Elements ============================= -->
        <section class="log-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-11 col-md-11">

                        <div class="row no-gutters position-relative log_rads">
                            <div class="col-lg-6 col-md-5 bg-cover"
                                style="background:#1f2431 url(assets/front/img/log.png)no-repeat;">
                                <div class="lui_9okt6">
                                    <div class="_loh_revu97">
                                        <div id="reviews-login">

                                            <!-- Single Reviews -->
                                            <div class="_loh_r96">
                                                <div class="_bloi_quote"><i class="fa fa-quote-left"></i></div>
                                                <div class="_loh_r92">
                                                    <h4>Good Services</h4>
                                                </div>
                                                <div class="_loh_r93">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <div class="_loh_foot_r93">
                                                    <h4>Shilpa D. Setty</h4>
                                                    <span>Team Leader</span>
                                                </div>
                                            </div>

                                            <!-- Single Reviews -->
                                            <div class="_loh_r96">
                                                <div class="_bloi_quote"><i class="fa fa-quote-left"></i></div>
                                                <div class="_loh_r92">
                                                    <h4>Good Services</h4>
                                                </div>
                                                <div class="_loh_r93">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <div class="_loh_foot_r93">
                                                    <h4>Adam Wilsom</h4>
                                                    <span>Mak Founder</span>
                                                </div>
                                            </div>

                                            <!-- Single Reviews -->
                                            <div class="_loh_r96">
                                                <div class="_bloi_quote"><i class="fa fa-quote-left"></i></div>
                                                <div class="_loh_r92">
                                                    <h4>Customer Support</h4>
                                                </div>
                                                <div class="_loh_r93">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <div class="_loh_foot_r93">
                                                    <h4>Kunal M. Wilsom</h4>
                                                    <span>CEO & Founder</span>
                                                </div>
                                            </div>

                                            <!-- Single Reviews -->
                                            <div class="_loh_r96">
                                                <div class="_bloi_quote"><i class="fa fa-quote-left"></i></div>
                                                <div class="_loh_r92">
                                                    <h4>Ultimate Services</h4>
                                                </div>
                                                <div class="_loh_r93">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <div class="_loh_foot_r93">
                                                    <h4>Mark Jugermark</h4>
                                                    <span>MCL Founder</span>
                                                </div>
                                            </div>
                                            <!-- Single Reviews -->
                                            <div class="_loh_r96">
                                                <div class="_bloi_quote"><i class="fa fa-quote-left"></i></div>
                                                <div class="_loh_r92">
                                                    <h4>Item Support</h4>
                                                </div>
                                                <div class="_loh_r93">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <div class="_loh_foot_r93">
                                                    <h4>Kirti Washinton</h4>
                                                    <span>Web Designer</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-7 position-static p-4">
                                <div class="log_wraps">
                                    <a href="index.html" class="log-logo_head"><img src="assets/front/img/logo.png"
                                            class="img-fluid" width="80" alt="" /></a>
                                    <div class="log__heads">
                                        <h4 class="mt-0 logs_title">Create An <span class="theme-cl">Account</span></h4>
                                    </div>
                                    <form class="user" [formGroup]="loginForm" >

                                        <div class="form-group">
                                            <label>Emain Address*</label>
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" formControlName="email"
                                                aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                            <div *ngIf="email?.touched && email?.invalid">
                                                <small *ngIf="email?.errors?.required" class="text-danger">Email is
                                                    required<br></small>
                                                <small *ngIf="email?.errors?.email" class="text-danger">Invalid
                                                    Email<br></small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Password*</label>
                                            <input type="password" class="form-control form-control-user"
                                                formControlName="password" id="exampleInputPassword"
                                                placeholder="Password">
                                            <div *ngIf="password?.touched && password?.invalid">
                                                <small *ngIf="password?.errors?.required" class="text-danger">Password
                                                    is required<br></small>
                                                <small *ngIf="password?.errors?.minlength" class="text-danger">password
                                                    must contain 6 characters
                                                    at least</small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <a (click)="login()" class="btn btn_apply w-100">Sign Up</a>
                                        </div>

                                        <div class="form-group text-center">
                                            <span>Or SignUp with</span>
                                        </div>

                                        <div class="social_logs">
                                            <ul>
                                                <li class="fb-login">
                                                    <a href="#"><img src="assets/front/img/google.svg"
                                                            class="img-fluid mr-2" width="15" alt="" />Google</a>
                                                </li>
                                                <li class="gp-login">
                                                    <a href="#"><img src="assets/front/img/facebook.svg"
                                                            class="img-fluid mr-2" width="15" alt="" />Facebook</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="form-group text-center mb-0 mt-3">
                                            Have You Already An Account? <a href="login.html" class="theme-cl">LogIn</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- ========================== Login Elements ============================= -->


    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->

</body>