<body class="red-skin">
	
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
    
    
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
    
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Start Navigation -->
       <app-topbar></app-topbar>
        <!-- End Navigation -->
        <div class="clearfix"></div>
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->		

        
        <!-- ============================ Dashboard: Dashboard Start ================================== -->
        <section class="gray pt-0">
            <div class="container-fluid">
                                    
                <div class="row">
                
                    <div class="col-lg-3 col-md-3 p-0">
                       <app-navbar></app-navbar>


                    </div>
                    
                    
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        
                        <!-- Row -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <!-- /Row -->
                        
                        <!-- Row -->
                        <div class="row">
                    
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="dashboard_stats_wrap widget-1">
                                    <div class="dashboard_stats_wrap_content"><h4>{{course.length}}</h4> <span>Listings Courses</span></div>
                                    <div class="dashboard_stats_wrap-icon"><i class="ti-location-pin"></i></div>
                                </div>	
                            </div>
                            
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="dashboard_stats_wrap widget-2">
                                    <div class="dashboard_stats_wrap_content"><h4>{{categorie.length}}</h4> <span>Listings Categories</span></div>
                                    <div class="dashboard_stats_wrap-icon"><i class="ti-pie-chart"></i></div>
                                </div>	
                            </div>
                            
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="dashboard_stats_wrap widget-4">
                                    <div class="dashboard_stats_wrap_content"><h4>70</h4> <span>Featured Included</span></div>
                                    <div class="dashboard_stats_wrap-icon"><i class="ti-user"></i></div>
                                </div>	
                            </div>
                            

                        </div>
                      
                        <!-- /Row -->
                        
                        <!-- Row -->
                        <div class="row">
                    
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <div class="row">
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="course_overlay_cat">
                                            <div class="course_overlay_cat_thumb">
                                                <a href="#" tabindex="0"><img src="assets/img/course-1.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="course_overlay_cat_caption">
                                                <div class="llp-left">
                                                    <h4><a href="#">Web Designing</a></h4>
                                                    <span>17 Classes</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="course_overlay_cat">
                                            <div class="course_overlay_cat_thumb">
                                                <a href="#" tabindex="0"><img src="assets/img/course-2.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="course_overlay_cat_caption">
                                                <div class="llp-left">
                                                    <h4><a href="#">Digital Marketing</a></h4>
                                                    <span>20 Classes</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="course_overlay_cat">
                                            <div class="course_overlay_cat_thumb">
                                                <a href="#" tabindex="0"><img src="assets/img/course-3.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="course_overlay_cat_caption">
                                                <div class="llp-left">
                                                    <h4><a href="#">Account & Chart</a></h4>
                                                    <span>22 Classes</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="course_overlay_cat">
                                            <div class="course_overlay_cat_thumb">
                                                <a href="#" tabindex="0"><img src="assets/img/course-5.jpg" class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="course_overlay_cat_caption">
                                                <div class="llp-left">
                                                    <h4><a href="#">Business Development</a></h4>
                                                    <span>10 Classes</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                           
                        </div>
                        <!-- /Row -->
                        
                        
                        
                    </div>
                
                </div>
                
            </div>
        </section>
        <!-- ============================ Dashboard: Dashboard End ================================== -->
        
        <!-- ============================== Start Newsletter ================================== -->
        <section class="newsletter theme-bg inverse-theme">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-8 col-sm-12">
                        <div class="text-center">
                            <h2>Join Thousand of Happy Students!</h2>
                            <p>Subscribe our newsletter & get latest news and updation!</p>
                            <form class="sup-form">
                                <input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
                                <input type="submit" class="btn btn-theme" value="Get Started">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ================================= End Newsletter =============================== -->
        
        <!-- ============================ Footer Start ================================== -->
        <app-footers></app-footers>
        <!-- ============================ Footer End ================================== -->
        
        <!-- Log In Modal -->
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <div class="modal-content" id="registermodal">
                    <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                    <div class="modal-body">
                        <h4 class="modal-header-title">Log In</h4>
                        <div class="login-form">
                            <form>
                            
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="*******">
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-md full-width pop-login">Login</button>
                                </div>
                            
                            </form>
                        </div>
                        
                        <div class="social-login mb-3">
                            <ul>
                                <li>
                                    <input id="reg" class="checkbox-custom" name="reg" type="checkbox">
                                    <label for="reg" class="checkbox-custom-label">Save Password</label>
                                </li>
                                <li class="right"><a href="#" class="theme-cl">Forget Password?</a></li>
                            </ul>
                        </div>
                        
                        <div class="modal-divider"><span>Or login via</span></div>
                        <div class="social-login ntr mb-3">
                            <ul>
                                <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
                                <li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
                            </ul>
                        </div>
                        
                        <div class="text-center">
                            <p class="mt-2">Haven't Any Account? <a href="register.html" class="link">Click here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        
        <!-- Sign Up Modal -->
        <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <div class="modal-content" id="sign-up">
                    <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                    <div class="modal-body">
                        <h4 class="modal-header-title">Sign Up</h4>
                        <div class="login-form">
                            <form>
                            
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Full Name">
                                </div>
                                
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="*******">
                                </div>

                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-md full-width pop-login">Sign Up</button>
                                </div>
                            
                            </form>
                        </div>
                        
                        <div class="modal-divider"><span>Or Signup via</span></div>
                        <div class="social-login ntr mb-3">
                            <ul>
                                <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
                                <li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
                            </ul>
                        </div>
                        
                        <div class="text-center">
                            <p class="mt-3"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        
        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
        

    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="assets/js/metisMenu.min.js"></script>	
    <script>
        $('#side-menu').metisMenu();
    </script>

</body>