<div class="dashboard-navbar">

    <div class="d-user-avater">
        <img src="assets/img/user-3.jpg" class="img-fluid avater" alt="">
       
    </div>

    <div class="d-navigation">
        <ul id="side-menu">
            <li class="active"><a href="dashboard.html"><i class="ti-user"></i>Dashboard</a>
            </li>
            <li><a href="my-profile.html"><i class="ti-heart"></i>My Profile</a></li>
            <li><a [routerLink]="['/addcategory']"><i class="ti-plus"></i>Add Category</a></li>
            <li><a [routerLink]="['/listcategory']"><i class="ti-plus"></i>List Category</a></li>
            <li><a [routerLink]="['/addcourse']"><i class="ti-plus"></i>Add Course</a></li>
            <li><a [routerLink]="['/listcourse']"><i class="ti-plus"></i>List Course</a></li>

                

            <li><a [routerLink]="['/blog/addblog']"><i class="ti-shopping-cart"></i>Add Blog</a></li>
            <li><a href="settings.html"><i class="ti-settings"></i>Settings</a></li>
            <li><a href="#"><i class="ti-power-off"></i>Log Out</a></li>
        </ul>
    </div>

</div>